<p>detail works!</p>
<div class="container p-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">jobDescription</th>
        <th scope="col">noOfStayDays</th>
        <th scope="col">workingDuration</th>
        <th scope="col">allocatedBedNum</th>
        <th scope="col">gym</th>
        <th scope="col">meal</th>
        <th scope="col">clothe</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let user of allUsers; let i = index"> -->
      <tr>
        <td>{{ user?.email }}</td>
        <td>{{ user?.firstName }}</td>
        <td>{{ user?.lastName }}</td>
        <td>{{ user?.jobDescription }}</td>
        <td>{{ user?.noOfStayDays }}</td>
        <td>{{ user?.workingDuration }}</td>
        <td>{{ user?.allocatedBedNum }}</td>
        <td>{{ user?.gym }}</td>
        <td>{{ user?.meal }}</td>
        <td>{{ user?.clothe }}</td>
      </tr>
    </tbody>
  </table>
</div>
