<div class="container">
  <h3>services works!</h3>

  <form role="form" [formGroup]="addCustomerServiceForm">
    <!-- START Form Control-->
    <h1 class="text-center">Add Customers Service Form</h1>

    <div class="form-group form-group-default">
      <label>Clothe</label>
      <div class="controls">
        <ng-select
          [items]="mealOptions"
          bindLabel="title"
          bindValue="value"
          formControlName="clothe"
        >
        </ng-select>
      </div>
    </div>

    <div class="form-group form-group-default">
      <label>Meal</label>
      <div class="controls">
        <ng-select
          [items]="clotheOptions"
          bindLabel="title"
          bindValue="value"
          formControlName="meal"
        >
        </ng-select>
      </div>
    </div>

    <div>
      <label>
        <b>Add Gym:</b>
        <input type="radio" value="false" formControlName="gym" />
        <span>No</span>
      </label>
      <label>
        <input type="radio" value="true" formControlName="gym" />
        <span>Yes</span>
      </label>
    </div>
    <!-- <h1>{{ gym }}</h1> -->

    <!-- START Form Control-->
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end">
        <button
          aria-label=""
          class="btn btn-primary btn-lg"
          type="submit"
          (click)="onSubmit()"
        >
          <!-- [disabled]="addCustomerForm.invalid" -->
          Add Services
        </button>
      </div>
    </div>

    <!-- END Form Control-->
  </form>
</div>
