<p>list works!</p>
<div class="container p-4">
  <a class="btn btn-outline-success" [routerLink]="['/home/add/customer']"
    >Add Customer</a
  >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Bed Num</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of customerUsers; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user?.firstName }}</td>
        <td>{{ user?.lastName }}</td>
        <td>{{ user?.email }}</td>
        <td>{{ user?.allocatedBedNum }}</td>
        <td>
          <a
            class="btn btn-outline-dark m-1"
            [routerLink]="['/home/get/report', user?.email]"
            >View Report</a
          >
          <a
            class="btn btn-outline-success m-1"
            [routerLink]="['/home/addServices', user?.email]"
            >Add Service</a
          >
          <a
            class="btn btn-outline-info m-1"
            [routerLink]="['/home/edit/', user?.email]"
            >Edit</a
          >

          <a class="btn btn-outline-danger m-1" (click)="delUser(user)"
            >Delete</a
          >
          <!-- <a (click)="changeStatus(i)"><i class="fas fa-lock"></i></a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
